html {
  height: 100%;
  background: url(http://odin-tracker.kr/bg2.png) no-repeat top center;

  body {
    background: initial;
  }
}

.logo {
  text-align: center;
}

.width-100 {
  width: 100%
}

.font-20 {
  font-size: 20px;
}

.el-input-number--mini {
  width: 160px;
}

.el-select-dropdown {
  min-width: 215px !important;
}

.divider {
  border: 1px solid #313846;
  margin-bottom: 20px;
}

.resultLabel {
  text-align: left;
  margin-bottom: 10px;
}

.el-card {
  background-color: #121820;
  .el-card__header {
    border-bottom: 1px solid #313846;
  }
}

.statForm.el-form {
  margin-bottom: 10px;
  text-align: center;
  .el-form-item {
    border: 1px solid #313846;
    padding: 15px;
  }
}

.el-button--primary {
  color: #fff;
  background-color: #0e78ad;
  border-color: #0e78ad;
}

.mobLevel {
  float: right; 
  color: #8492a6; 
  font-size: 13px
}

.mt-20 {
  margin-top: 20px;
}

.btn {
  width: 100%;
}

.bottom {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 20px;
}

.result {
  font-size: 4em;
  margin-top: 30px;
}

.mobSelect {
  width: 220px
}

.rate {
  font-size: 20px;
}

.notice {
  margin-top: 50px;
}